---
layout: default
---


    <!-- <a href="{{ post.url }}">
      <h4> {{ post.title }}  </h4>
      <p class="post-tags">
        [&nbsp;
        {% for tag in post.tags %}
          {% capture tag_name %}{{ tag }}{% endcapture %}
          <a class="no-underline" href="/tag/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>    
        {% endfor %}
        ]
      </p>
      <small> {{ post.date | date_to_string }} </small>
    </a>  
    <hr/> -->

    <div class="row">
      {% for post in paginator.posts %}
      <div class="col s12 m3 l3">
        <div class="card">
          <div class="card-image">
            <img src="{{post.img}}">
            <!-- <span class="card-title">{{ post.title }}</span> -->
          </div>
          <div class="card-content">
            <p>
              {{ post.title }}
              <!-- <small> {{ post.content | truncatewords: 200}} </small> -->
            </p>
          </div>
          <div class="card-action">
            <a href="{{ post.url }}">Ler Mais</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

 <!-- Pagination -->
 <!-- <div class="paginator">
  {{paginator.previous_page}}
  {{paginator.next_page}}
  {% if paginator.previous_page %}
    <a class="btn waves-effect waves-light purple darken-4" href="/page{{paginator.previous_page}}">
      <i class="material-icons right">arrow_forward</i>
    </a>    
  {% else if paginator.next_page %}
    <a class="btn waves-effect waves-light purple darken-4" href="/page{{paginator.next_page}}">
      <i class="material-icons right">arrow_back</i>
    </a>   
  {% endif %}
</div> -->