---
layout: default
---
<div class="container">
  <div class="columns">
    <div class="column is-three-quarters">
      {% for post in paginator.posts %}
        <h2>
          <a class="has-text-primary" href="{{ post.url }}">{{ post.title }}</a>  
        </h2>
        <hr/>
      {% endfor %}
    </div>
  
    <div class="column">
      {% for tag in site.tags %}
      {% assign t = tag | first %}
      {% assign posts = tag | last %}
      <p>
        <a class="has-text-info" href="/tag/{{t}}">{{t | downcase | replace:" ","-" }} ({{ posts | size }})</a>
      </p>
      {% endfor %}
    </div>
  </div>
</div>
    

 <!-- Pagination -->
 <!-- <div class="paginator">
  {{paginator.previous_page}}
  {{paginator.next_page}}
  {% if paginator.previous_page %}
    <a class="btn waves-effect waves-light purple darken-4" href="/page{{paginator.previous_page}}">
      <i class="material-icons right">arrow_forward</i>
    </a>    
  {% else if paginator.next_page %}
    <a class="btn waves-effect waves-light purple darken-4" href="/page{{paginator.next_page}}">
      <i class="material-icons right">arrow_back</i>
    </a>   
  {% endif %}
</div> -->