---
layout: default
---
    
  {% for post in paginator.posts %}
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image">
          <img src="{{post.img}}">
        </div>
        <div class="card-content">
          <span>{{ post.title }}</span>
          <p>{{ post.date | date: "%d/%m/%Y" }}</p>
        </div>
        <div class="card-action">
          <a href="{{ post.url }}">Ler Mais</a>
        </div>
      </div>
    </div>
  {% endfor %}
    

 <!-- Pagination -->
 <!-- <div class="paginator">
  {{paginator.previous_page}}
  {{paginator.next_page}}
  {% if paginator.previous_page %}
    <a class="btn waves-effect waves-light purple darken-4" href="/page{{paginator.previous_page}}">
      <i class="material-icons right">arrow_forward</i>
    </a>    
  {% else if paginator.next_page %}
    <a class="btn waves-effect waves-light purple darken-4" href="/page{{paginator.next_page}}">
      <i class="material-icons right">arrow_back</i>
    </a>   
  {% endif %}
</div> -->