/* https://colorpalettes.net/color-palette-4553/ */
html,
body {
    margin: 0;
    background-color: #E5E3E4;
    background: url("/assets/img/zen-garden.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.box {
    margin-top: 15px;
}

a {
    color: #378BA4;
    text-decoration: none;
}

a:hover {
    color: #81BECE;
}

.bg-mine {
    background-color: #036280;
}

.nav-link {
    color: #FFF;
}

.nav-link:hover {
    color: #E8EDE7;
}