---
layout: default
---
<div class="container">

<h1>{{ page.title }}</h1>
[
{% for tag in page.tags %}
  {% capture tag_name %}{{ tag }}{% endcapture %}
  <a href="/tag/{{ tag_name }}"> {{ tag_name }}</a>    
{% endfor %}
]
<!-- <span class="post-date">{{ page.date | date_to_string }}</span> -->
{{ content }}

<hr/>


<h4>Leia Também Sobre</h4>
<ul>
  {% for post in site.related_posts limit:6 %}
    <li>
      <h5>
        <a href="{{ post.url }}">
          {{ post.title }}
          <!-- <small>{{ post.date | date_to_string }}</small> -->
        </a>
      </h5>
    </li>
  {% endfor %}
</ul>


</div>

