---
layout: default
---
<div class="container">

<h4>{{ page.title }}</h4>
[
{% for tag in page.tags %}
  {% capture tag_name %}{{ tag }}{% endcapture %}
  <a href="/tag/{{ tag_name }}"> {{ tag_name }}</a>    
{% endfor %}
]
<!-- <span class="post-date">{{ page.date | date_to_string }}</span> -->
{{ content }}

<hr/>


<h5>Leia Também Sobre</h5>
<ul>
  {% for post in site.related_posts limit:6 %}
    <li>
      <h6>
        <a href="{{ post.url }}">
          {{ post.title }}
          <!-- <small>{{ post.date | date_to_string }}</small> -->
        </a>
      </h6>
    </li>
  {% endfor %}
</ul>


</div>

